h1, h2, h3 {
	text-align: left;
}

a.logo {
	background-color: #008080;
	color :white;
	display: block;
	width: 100%;
	padding: 15px 10px;
	text-align: center;
	font-weight: bold;
	position: absolute;
	top:0;
}

a.logo:hover {
	color:#008080;
	background-color: #fff;
	text-decoration: none;
}

a.btn-feature{
	width:300px;
	padding:15px;
}

.nav-pills {
	padding-left:15px;
	padding-right:15px;
}

.sidebar-nav > * {
	color:white;
}

.logout {
	color:black;
	width: 40px;
}
.pic-theme-panel >.panel-body {
	padding-top:40px;
	text-align:center;
	padding-bottom:50px;
}

.pic-theme-panel p{
	font-size : 24px;
	margin-bottom:2px;
}

.pic-theme-panel a {
	margin-top:40px;
}

.pic-theme-panel .lead{
	font-size : 5em;
}

.panel-contents {
	width:80%;
	border-top:1px solid #ddd;
}

.btn-lg {
	min-width:250px;
	padding:14px 0;
}

.upload-panel {
	border-top:1px solid #ddd;
	padding-top:40px;
	margin:30px auto;
}

.upload-panel > *{
	text-align:left;
}

.upload-panel input[type="submit"]{
	margin-left:20px;
}

#start {
	text-align: center;
	vertical-align: middle;
	width: 95%;
	margin: 30px auto 30px;
}

#start a {
	padding: 8px 50px;
}

