html, body {
	height: 100%;
}

body > .container-fluid {
	height: 100%;
}

div .h1_info {
margin-top:20px;
}

.container-fluid > .contents {
	height: 100%;
}

.text_right {
	text-align:right;
}

.sidemenu {
	background-color: #18bc9c;
	height: 100%;
	padding-top: 40px;
	min-width: 200px;
	padding-left: 0px;
	padding-right: 0px;
	overflow: hidden;
	padding-bottom: 32778px;
	margin-bottom: -32778px;
}

.navbar-right {
	margin-right: 10px;
}

.sidebar-nav figure {
	text-align: center;
	padding-bottom: 10px;
}

.sidebar-nav figcaption {
	padding-top: 8px;
}

.sidebar-nav ul {
	padding-bottom: 20px;
}

.sidebar-nav {
	padding-top: 60px;
}

.sidebar-nav .icon {
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

.sidebar-nav .btn_area {
	padding-top:20px;
	border-top:1px solid #2e8b57;
	margin:0 auto;
	text-align: center;
	width: 80%;
}

.desc p {
	margin-bottom:5px;
}

#contents-panel {
	margin-top: 20px;
	padding-bottom:30px;
}
.card-list {
	box-sizing: border-box;
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	flex-wrap: -webkit-wrap;
	width: 96%;
	margin:0 auto;
}

h2.card-list-h2 {
	width: 95%;
	display: block;
	margin: 0 auto;
}

.card-list > div.panel {
	width: 18%;
	margin: 8px;
	box-sizing: border-box;
}

div.panel-body > div.user {
	padding-bottom: 10px;
	text-align: left;
}

div.panel-body > div.user img{
	border-radius: 20px;
	width: 16%;
	height: auto;
}

div.panel-body > img {
	width: 100%;
	height: auto;
}

div.more {
	text-align: center;
	width: 100%;
	margin-top: 15px;
}
