html, body {
	height: 100%;
}
div .h1_info {
margin-top:20px;
}

.text_right {
	text-align:right;
}

.sidemenu {
	background-color: #fff;
	height: 100%;
	padding-top: 20px;
}

.navbar-right {
	margin-right: 10px;
}

.sidebar-nav figure {
	text-align: center;
	padding-bottom: 10px;
}

.sidebar-nav figcaption {
	padding-top: 8px;
}

.sidebar-nav .icon {
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

.contents {
	height: 100%;
	margin-top: 80px;
}

.desc p {
	margin-bottom:5px;
}

main {
	margin-top: 30px;
}

#start {
	width: 1080px;
	text-align: center;
	padding-top:50px;
	padding-bottom:50px;
}

#start a {
	padding: 8px 50px;
}

.card-list {
	width: 1080px;
	margin:30px auto 0;
}

.card-list > div{
	width: 240px;
	display: inline-block;
	margin: 15px 10px;
}
