html, body, .container-fluid {
	height: 100%;
}
div .h1_info {
margin-top:20px;
}

.text_right {
	text-align:right;
}

.sidemenu {
	background-color: #18bc9c;
	height: 100%;
	padding-top: 40px;
	min-width: 200px;
	padding-bottom: 32768px;
	margin-bottom: -32768px;
	padding-left: 0px;
	padding-right: 0px;
}

.navbar-right {
	margin-right: 10px;
}

.sidebar-nav figure {
	text-align: center;
	padding-bottom: 10px;
}

.sidebar-nav figcaption {
	padding-top: 8px;
}

.sidebar-nav ul {
	padding-bottom: 20px;
}

.sidebar-nav {
	padding-top: 60px;
}

.sidebar-nav .icon {
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

.sidebar-nav .btn_area {
	padding-top:20px;
	border-top:1px solid #2e8b57;
	margin:0 auto;
	text-align: center;
	width: 80%;
}

.contents {
	overflow: hidden;
}

.desc p {
	margin-bottom:5px;
}

#contents-panel {
	margin-top: 20px;
}
.card-list {
	margin:0 auto;
	width: 95%;
	text-align: center;
	box-sizing: border-box;
	padding: 10px;
}

.readmore {
	margin-top: 20px;
}

.card-list > div{
	width: 23%;
	display: inline-block;
	margin: 15px 8px;
	box-sizing: border-box;
}
